@model IList<DashboardBO>;


<table class="table table-bordered">
    <thead>
        <tr>
            <th><b>id</b></th>
            <th><b>Employer</b></th>
            <th><b>Records</b></th>
            <th><b>Status</b></th>
            <th><b>Score Emp</b></th>
            @*<th><b>Score WYPF</b></th>*@
            @*<th><b></b></th>
            <th><b></b></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item1 in Model.OrderByDescending(d=> d.return_Score_Emp))
        {
            <tr>
                <td>@item1.paylocationRef</td>
                <td>@item1.paylocation_Name</td>
                <td>@item1.return_Records</td>
                <td>@item1.return_Status_Text.</td>
                <td>@item1.return_Score_Wypf</td>

            </tr>
        }
    </tbody>
</table>