@model MCPhase3.Models.DashboardWrapperVM;
@{
    ViewData["Title"] = "Files History";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string remid = string.Empty;
}
<br />
<br />


<div class="border shadow-lg p-4 mb-4 bg-white">
    <div class="container-fluid">
        @{
            if (TempData["msg1"] != null)
            {
                <div class="alert alert-success alert-dismissible">
                    @TempData["msg1"]
                </div>
            }
            
            if (TempData["MsgError"] != null)
            {
                <div class="alert alert-danger alert-dismissible">
                    @TempData["MsgError"]
                </div>
            }
        
            if (TempData["msgDelete"] != null)
            {
                <div class="alert alert-dismissible alert-success">
                    @TempData["msgDelete"].ToString()
                </div>
            }
        }

        <div class="container-fluid bg-3 text-center">
            <h1 class="">Monthly posting</h1>
            <p class="">If you need to contact us phone 01274 434563 or 01274 435310</p>
        </div>

        <h4> Employer's uploaded files</h4>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">

                <a class="nav-link active" id="nav-home-tab">Pending Files</a>
                <a href="/Admin/SubmittedToWypf" class="nav-link" id="nav-home-tab">With WYPF</a>
                <a href="/Admin/CompletedFiles" class="nav-link" id="nav-home-tab">Completed Files</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active pt-3" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                @*<table id="PendingSubmissionTable" class="">*@
                <table id="PendingSubmissionTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th><b>Employer</b></th>
                            <th><b>Period</b></th>
                            <th><b>Reference</b></th>
                            <th><b>Received</b></th>
                            <th><b>Payroll</b></th>
                            <th><b>Status</b></th>
                            <th><b>Records</b></th>
                            <th class="text-center"><b>Score %</b></th>
                            <th>@* Select *@</th>
                            <th>@* Score History *@</th>
                            <th>@* Check Return *@</th>
                            <th>@* Delete *@</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.RemittanceList)
                        {
                            @*<tr class="@selectRow">*@
                            <tr data-remittance-id="@item.remittance_IdEnc"
                                data-modal-title="Reference: @item.remittance_Id || Score: @item.return_Score_Emp">
                                <td>
                                    <span class="btn btn-sm btn-outline-primary ShowSubmissionDetailsButton"
                                          data-bs-toggle="tooltip" data-bs-placement="top" title="Show submission details">+</span>
                                </td>

                                <td>@item.EMPLOYER_REF - @item.EMPLOYER_NAME </td>
                                <td>@item.RETURN_PERIOD</td>
                                <td class="remittance-id">@item.remittance_Id</td>
                                <td>@Convert.ToDateTime(item.return_Received_Date).ToString("dd/MM/yyyy")</td>
                                <td>@item.paylocation_Name</td>
                                <td>@item.return_Status_Code - @item.return_Status_Text</td> @*Status*@
                                @{
                                    string recordsCount = "";
                                    if (item.return_Records >= 5000)
                                    {
                                        recordsCount = $"<span class='rounded-pill bg-warning text-dark p-2'>{@item.return_Records}</span>";
                                    }
                                    else
                                    {
                                        recordsCount = item.return_Records.ToString() ;
                                    }
                                }
                                <td class="text-center">@Html.Raw(recordsCount)</td>@* Records *@
                                <td class="latest-score text-center">@item.return_Score_Emp</td>@* Latest Score *@

                                @{
                                    var buttonCaption = string.IsNullOrEmpty(item.action_Button_Text) ? "" : @item.action_Button_Text;
                                    var queryParams = $"P_STATUSCODE={@item.return_Status_Code}&p_REMITTANCE_ID={@item.remittance_IdEnc}";
                                }

                                @if (@item.return_Status_Code == "70" || @item.return_Status_Code == "65" || @item.return_Status_Code == "60")
                                {
                                    /* 70='Ready to match' */
                                    <td>@*Select*@</td>
                                    <td>
                                        @*Score History*@
                                    </td>
                                    <td>
                                        <a href="/Admin/SubmitReturn?@queryParams"
                                           class="btn btn-outline-info click-and-wait-button " alt="Update score">@buttonCaption
                                            <div class="spinner-icon ml-2"></div>
                                            </a>
                                    </td>
                                    
                                    <td>
                                        @*Delete *@
                                    </td>

                                }
                                else
                                {
                                    string selectButtonDisabled = item.return_Score_Emp > 99 ? "disabled" : "";

                                    <td>                                        
                                        <a href="/ErrorWarning/Index?remittanceID=@item.remittance_IdEnc" class="btn btn-outline-primary @selectButtonDisabled click-and-wait-button"
                                           data-bs-toggle="tooltip" data-bs-placement="top" title="View error and warning summary"> Select</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-outline-info score-history-button"
                                           data-bs-toggle="tooltip" data-bs-placement="top" title="Show Score History">Score</a>
                                    </td>
                                    <td class="text-center">                                        
                                        <a href="/Admin/SubmitReturn?@queryParams"
                                           class="btn btn-outline-info click-and-wait-button" alt="Update score">@buttonCaption
                                            <div class="spinner-icon ml-2"></div>
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-outline-danger delete-remittance-button" alt="Delete this remittance">
                                            <i class="far fa-trash-alt fa-lg"></i>
                                        </a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="SubmissionDetailPopupModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="SubmissionDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SubmissionDetailModalTitle">Details: </h5>
                <button type="button" class="btn btn-outline-danger submission-detail-modal-close-button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="SubmissionDetailPlaceholderDiv">
                    @*Here we will dump the submission details to show in this popup modal window...*@
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary submission-detail-modal-close-button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/dashboard.js"></script>
}
