@model IList<MCPhase3.Models.RemittanceItemVM>
@{
    ViewData["Title"] = "Files History";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="border shadow-lg p-4 mt-3 mb-4 bg-white">
    <div class="container-fluid">
        <div class="container-fluid bg-3 text-center">
            <h1 class="">Monthly posting</h1>
            <p class="d-none">If you need to contact us phone 01274 434563 or 01274 435310</p>
        </div>
        <h4> Employer's uploaded files</h4>


        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">

                <a href="/Admin/Home" class="nav-link" id="nav-home-tab">Pending Files</a>
                <a class="nav-link active" id="nav-home-tab">With WYPF</a>
                <a href="/Admin/CompletedFiles" class="nav-link" id="nav-home-tab">Completed Files</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active pt-3" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <table id="CompletedSubmissionTable" class="">
                    <thead>
                        <tr>
                            @*<th><b>No.</b></th>*@
                            <th><b>Employer</b></th>
                            <th><b>Period</b></th>
                            <th><b>Reference</b></th>
                            <th><b>Received</b></th>
                            <th><b>Records</b></th>
                            <th><b>Status</b></th>
                            @*<th><b>Latest Score</b></th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderByDescending(r => r.remittance_Id))
                        {
                            <tr>
                                <td>@item.EMPLOYER_REF - @item.EMPLOYER_NAME </td>
                                <td>@item.RETURN_PERIOD</td>
                                <td>@item.remittance_Id</td>

                                <td>@item.return_Received_Date.ToString("dd/MM/yyyy")</td>

                                <td>@item.return_Records</td>
                                <td>@item.return_Status_Text</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript" src="~/js/dashboard.js"></script>
}