@model MCPhase3.Models.LoginBO
@{
    ViewData["Title"] = "UpdatePassword";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var appUser = Model.UserDetails;
}

<div class="border p-4 my-4 bg-white">    
        <div class="container">
            @if (TempData["UpdateMessage"] != null)
            {
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <b>@TempData["UpdateMessage"].ToString()</b> <br>
                </div>

            }

            <div class="row">
                <div class="col-6">
                <div class="card border shadow">
                        <h5 class="card-header">
                        <i class="far fa-address-card fa-lg mr-2 text-primary"></i>
                            User profile</h5>
                        <div class="card-body">
                            @*<h5 class="card-title">Profile data</h5>*@
                            <dl class="row">
                                <dt class="col-sm-3">FullName</dt>
                                <dd class="col-sm-9">@appUser.FullName</dd>
                                <dt class="col-sm-3">LoginId</dt>
                                <dd class="col-sm-9">@appUser.LoginId</dd>
                                <dt class="col-sm-3">UserId</dt>
                                <dd class="col-sm-9">@appUser.UserId</dd>
                                <dt class="col-sm-3">JobTitle</dt>
                                <dd class="col-sm-9">@appUser.JobTitle</dd>
                                <dt class="col-sm-3">Email</dt>
                                <dd class="col-sm-9">@appUser.Email</dd>
                                <dt class="col-sm-3">Pay Location</dt>
                                <dd class="col-sm-9">@appUser.Pay_Location_Name</dd>
                                <dt class="col-sm-3">Location ref</dt>
                                <dd class="col-sm-9">@appUser.Pay_Location_Ref</dd>
                                <dt class="col-sm-3">Location Id</dt>
                                <dd class="col-sm-9">@appUser.Pay_Location_ID</dd>
                                <dt class="col-sm-3">Client Id</dt>
                                <dd class="col-sm-9">@appUser.Client_Id</dd>
                            </dl>
                            
                        </div>
                    </div>
                </div>

                <div class="col-6">
                <div class="card border shadow">
                    
                    <h5 class="card-header">
                        <i class="fas fa-edit fa-lg mr-2 text-success"></i>
                        Update Password
                    </h5>
                    <div class="card-body">
                        <form id="UpdatePasswordForm" asp-action="UpdatePassword" asp-controller="Admin">
                            <div class="mb-3">
                                <label for="oldPassword" class="form-label">Old Password</label>
                                <input asp-for="oldPassword" type="password" class="form-control" id="oldPassword">
                                @*<span id="spaneOldPassword" class="text-danger font-weight-bold"></span>*@
                                <span asp-validation-for="oldPassword" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">New Password</label>

                                <i class="mdi mdi-information me-1 ms-1 h4 ab-b-l" id="ShowPasswordPolicyModalIcon"></i>

                                <input asp-for="password" type="password" class="form-control" id="newPassword1">
                                <span id="spanePassword1" class="text-danger font-weight-bold"></span>
                                <span asp-validation-for="password" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="ConFirmPassword" class="form-label">Confirm Password</label>
                                <input asp-for="ConFirmPassword" type="password" class="form-control">
                                @*<span id="spanNewPassword1" class="text-danger font-weight-bold"></span>*@
                                <span asp-validation-for="ConFirmPassword" class="text-danger"></span>
                            </div>
                            @*<button type="submit" class="btn btn-primary" onclick="return Validate1()">Submit</button>*@
                            <input type="hidden" asp-for="userName">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>

                        <div class="alert alert-info mt-3">
                            <h5>Password policy:</h5>
                            <ul>
                                <li>at least nine characters,</li>
                                <li>one or more capital letters,</li>
                                <li>one or more lower case letters,</li>
                                <li>one or more numbers,</li>
                                <li>one or more special characters, for example !,”.#</li>
                                <li>should not contain the user name</li>
                                <li>not have 3 or more of the same characters together, e.g. aaa or 111  </li>
                            </ul>
                        </div>
                    </div>
                </div>



                </div>
            </div>

            
        </div>
</div>
