@model MCPhase3.Models.MonthlyContributionBO
@{
    ViewData["Title"] = "Check Totals";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    double employeesTotal = 0;
    if (ViewBag.EmployeeTotal != null)    
    {
        employeesTotal = ViewBag.EmployeeTotal;
    }
}

<div class="border shadow-lg p-4 mb-4 bg-white">
    @*<div class="container-fluid bg-3 text-center">
        <div class="container">*@
    <div class="row justify-content-center">
        <div class="col-11 col-sm-9 col-md-12 col-lg-12 col-xl-5 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">

                <!-- progressbar -->
                <ul id="progressbar">
                    <li class="active" id="account"><strong>File Upload</strong></li>
                    <li class="active" id="personal"><strong>Check Totals</strong></li>
                    <li id="personal"><strong>Data Summary</strong></li>
                    <li id="personal"><strong>Error and Warning Summary</strong></li>
                    <li id="personal"><strong>Bulk Approval</strong></li>
                    <li id="payment"><strong>Submit to Database</strong></li>
                    <li id="confirm"><strong>Finish</strong></li>
                </ul>
            </div>
        </div>
    </div>
    @*</div>
        </div>*@
    <br>

    @*following tempdate shows session expired message worng.*@
    @if (TempData["MsgError"] != null)
    {
        <div class="container">
            <div class="alert alert-danger">
                @TempData["MsgError"].ToString()
            </div>
        </div>
    }

    <form asp-action="CheckTotals" enctype="multipart/form-data" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container">
            <div class="jumbotron">
                <h3><b>Step 2 – total employee contributions – check totals against spreadsheet</b></h3><hr />
                <input type="hidden" asp-for="MemberContribSS">
                <input type="hidden" asp-for="MemberContrib5050SS">
                <input type="hidden" asp-for="MemberContribPOESSS">
                <input type="hidden" asp-for="MemberContribARCSS">
                <input type="hidden" asp-for="MemberContribAPCSS">

                <input type="hidden" asp-for="@Model.EmployeePay5050">
                <input type="hidden" asp-for="@Model.EmployeePayMain">
                <div class="row"><h4 class="col-md-10">Total employees contribution</h4><h4 class="col-md-2">£ @Model.MemberContribSS.ToString("N")</h4></div>
                <div class="row"><h4 class="col-md-10">Total employees contribution 50/50  </h4><h4 class="col-md-2">£ @Model.MemberContrib5050SS.ToString("N")</h4></div>
                <div class="row"><h4 class="col-md-10">Total employees purchase of extra service (contacts only) </h4><h4 class="col-md-2">£ @Model.MemberContribPOESSS.ToString("N")</h4></div>
                <div class="row"><h4 class="col-md-10">Total employees additional regular contributions (ARC) 2008 reg</h4><h4 class="col-md-2">£ @Model.MemberContribARCSS.ToString("N")</h4></div>
                <div class="row"><h4 class="col-md-10">Total employees additional pension contribution (APC) reg 16 </h4><h4 class="col-md-2">£ @Model.MemberContribAPCSS.ToString("N")</h4></div>
                <hr />
                <div class="row"><h4 class="col-md-10"><b>Total employees contribution</b></h4><h4 class="col-md-2" id="MembersTotalValue"><b>£ @employeesTotal.ToString("N")</b></h4></div>
            </div>
        </div>
        <br /><br />
        <div class="container">
            <div class="jumbotron">
                <h3><b>Step 2.1 – total employer contribution – check totals against spreadsheet</b></h3><hr />
                <input type="hidden" asp-for="@Model.EmployerContrib">
                <input type="hidden" asp-for="@Model.PaymentMonth">
                <input type="hidden" asp-for="@Model.EmployerContribAPC">
                <input type="hidden" asp-for="@Model.EmployersTotalSS">
                <input type="hidden" asp-for="@Model.EmployersTotal">
                <input type="hidden" asp-for="@Model.payrollProviderID">

                <div class="row"><h4 class="col-md-10">Total employer contribution</h4><h4 class="col-md-2">£ @Model.EmployersTotalSS.ToString("N")</h4></div>
                <div class="row"><h4 class="col-md-10">Total employer additional pension contributions (APC) reg 16:  </h4><h4 class="col-md-2">£ @Model.EmployerContribAPCSS.ToString("N")</h4></div><hr />

                <div class="row"><h4 class="col-md-10"><b>Employer total:</b></h4><h4 class="col-md-2" id="EmployersTotalValue"><b>£ @Convert.ToDouble(Model.EmployerContribAPCSS + Model.EmployerContribSS).ToString("N")</b></h4></div><br>
                <div class="row"><h4 class="col-md-10"><b>Total employees and employer contribution</b></h4><h4 class="col-md-2" id="EmployersEmployeeTotalValue"><b>£ @Model.EmployersEmployeeTotalValue().ToString("N")</b></h4></div>

            </div>
        </div>

        <div class="container">
            <div class="jumbotron mt-5">
                <h3><b>Step 3 – enter any additional payments</b></h3><hr />
                <div class="row additional-payment-row">
                    <h4 class="col-md-10">Deficit</h4>
                    <input asp-for="@Model.DeficitRec" id="Deficit" placeholder="£0" class="col-md-2 additional-payment-input" data-toggle="tooltip" title="if your additional payment relates to a WYPF invoice, please quote the invoice reference and the customer number in the additional information box below">

                </div>
                <div class="row additional-payment-row"><h4 class="col-md-10">Previous year-end adjustments</h4>
                    <input asp-for="@Model.YearEndBalanceRec" id="YearEndBalance" placeholder="£0" class="col-md-2 additional-payment-input">
                    </div>
                <div class="row additional-payment-row"><h4 class="col-md-10">Unfunded benefits</h4>
                    <input asp-for="@Model.FundedBenefitsRec" id="FundedBenefits" placeholder="£0" class="col-md-2 additional-payment-input"></div>
                <div class="row additional-payment-row"><h4 class="col-md-10">Miscellaneous</h4>
                    <input asp-for="@Model.Miscellaneous_Rec" id="Miscellaneous" placeholder="£0" class="col-md-2 additional-payment-input"></div>
                @*<div class="row"><h4 class="col-md-10">Total employer additional pension contributions (APC) reg 16:  </h4><h4 class="col-md-2" id="MemberContribAPCLblValue">£ @Model.MemberContribAPCSS</h4></div><hr />*@

                <div class="row mb-5">
                    <h4 class="col-md-10"><b>Total additional payments</b></h4>
                    <label class="col-md-2" id="DecifitTotalLblValue">£ @Model.DeficitTotalLblValue().ToString("N")</label>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="jumbotron mt-5">

                <h3><b>Step 4 – check grand total</b></h3><hr />
                <div class="row mb-5">
                    <h4 class="col-md-10"><b>Total (Employees, employers and additional payments)</b></h4>
                    <h4 class="col-md-2" id="GrandTotalValue"><b>£ @Model.GrandTotalValue().ToString("N")</b></H4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="jumbotron mt-5">

                <h3><b>Step 5 – add any additional information</b></h3><hr />
                <textarea asp-for="@Model.AdditionalInfo" class="form-control" rows="5" id="comment"></textarea>

            </div>
        </div>
        <div class="container">
            <div class="jumbotron mt-5">
                <h3><b>Step 6 – select payment method & date</b></h3><hr />
                <div class="row mb-3">
                    <div class="col-9">
                        @*value="Paid directly into WYPF's' bank account"*@
                        <input asp-for="@Model.PaidDirectlyWYPF" type="radio" class="btn-check" id="PaymentMethodOption_BankAccount" 
                                        value="Sent by BACS"
                                       data-bs-toggle="tooltip" data-bs-title="Paid directly into relevant bank account" data-bs-placement="top" checked>
                        <label class="btn btn-outline-info col-6" for="PaymentMethodOption_BankAccount">Paid directly into relevent bank account</label>

                        <input asp-for="@Model.PaidDirectlyWYPF" type="radio" class="btn-check" id="PaymentMethodOption_Cheque" 
                                        value="Sent by cheque"
                                       data-bs-toggle="tooltip" data-bs-title="Sent by cheque" data-bs-placement="top">
                        <label class="btn btn-outline-info col-3 mx-2" for="PaymentMethodOption_Cheque">Sent by cheque</label>

                    </div>

                    <div class="col-3 float-right">
                        <input asp-for="@Model.PaidByChequeDate" id="ChequeDateTBox" placeholder="dd-MM-yyyy" 
                                type="date" asp-format="{0:dd-MM-yyyy}" class="mx-3 form-control float-end text-right" required 
                                oninvalid="this.setCustomValidity('* Paid by date is required.')" 
                                oninput="setCustomValidity('')" />

                    </div>

                </div>
                <div class="alert alert-success" role="alert">
                    <h3>If you have verified steps 1 - 6 please click following button to Move to the next stage.</h3>
                    <input type="submit" id="SubmitNextButton" value="Next" class="btn btn-primary btn-block" />
                </div>
            </div>
        </div>
    </form>   
</div>


@section Scripts {
    <script src="~/js/home-check-totals.js"></script>
}
