@model MCPhase3.Models.MonthlyContributionBO
@{
    ViewData["Title"] = "Check Totals";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="border shadow-lg p-4 mb-4 bg-white">
        <div class="container text-center p-0">
                <div class="card">

                <!-- progressbar -->
                <ul id="progressbar">
                    <li class="active" id="account"><strong>File Upload</strong></li>
                    <li class="active" id="personal"><strong>Check Totals</strong></li>
                    <li id="personal"><strong>Data Summary</strong></li>
                    <li id="personal"><strong>Error and Warning Summary</strong></li>
                    <li id="personal"><strong>Bulk Approval</strong></li>
                    <li id="payment"><strong>Submit to Database</strong></li>
                    <li id="confirm"><strong>Finish</strong></li>
                </ul>
            </div>
        </div>
    <br>

    @*following tempdate shows session expired message worng.*@
    @if (TempData["MsgError"] != null)
    {
        <div class="container">
            <div class="alert alert-danger">
                @TempData["MsgError"].ToString()
            </div>
        </div>
    }

    <form asp-action="CheckTotals" enctype="multipart/form-data" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container">
            <div class="jumbotron">
                <h3><b>Step 2 – total employee contributions – check totals against spreadsheet</b></h3><hr />
                <input type="hidden" asp-for="MemberContribSS">
                <input type="hidden" asp-for="MemberContrib5050SS">
                <input type="hidden" asp-for="MemberContribPOESSS">
                <input type="hidden" asp-for="MemberContribARCSS">
                <input type="hidden" asp-for="MemberContribAPCSS">

                <input type="hidden" asp-for="@Model.EmployeePay5050">
                <input type="hidden" asp-for="@Model.EmployeePayMain">

                @* Total employees contribution *@
                <div class="row">
                    <h4 class="col-9">Total employees contribution</h4>
                    <h4 class="col-1 text-end"><b>£</b></H4>
                    <h4 class="col-2 text-end">@Model.MemberContribSS.ToString("N")</h4>
                </div>

                @* Total employees contribution 50/50 *@
                <div class="row">
                    <h4 class="col-9">Total employees contribution 50/50 </h4>
                    <h4 class="col-1 text-end"><b>£</b></H4>
                    <h4 class="col-2 text-end">@Model.MemberContrib5050SS.ToString("N")</h4>
                </div>

                @* Total employees purchase of extra service (contacts only) *@
                <div class="row">
                    <h4 class="col-9">Total employees purchase of extra service (contacts only) </h4>
                    <h4 class="col-1 text-end"><b>£</b></H4>
                    <h4 class="col-2 text-end">@Model.MemberContribPOESSS.ToString("N")</h4>
                </div>

                @* Total employees additional regular contributions (ARC) 2008 reg *@
                <div class="row">
                    <h4 class="col-9">Total employees additional regular contributions (ARC) 2008 reg</h4>
                    <h4 class="col-1 text-end"><b>£</b></H4>
                    <h4 class="col-2 text-end">@Model.MemberContribARCSS.ToString("N")</h4>
                </div>
                
                @* Total employees additional pension contribution (APC) reg 16 *@
                <div class="row">
                    <h4 class="col-9">Total employees additional pension contribution (APC) reg 16 </h4>
                    <h4 class="col-1 text-end"><b>£</b></H4>
                    <h4 class="col-2 text-end">@Model.MemberContribAPCSS.ToString("N")</h4>
                </div>
                <hr />

                @* Total employees contribution *@
                <div class="row">
                    <h4 class="col-md-9"><b>Total employees contribution</b></h4>
                    <h4 class="col-1 text-end"><b>£</b></H4>
                    <h4 class="col-2 text-end text-primary" id="MembersTotalValue"><b>@Model.EmployeeTotal().ToString("N")</b></h4>
                </div>
            </div>
        </div>
        <br /><br />

        @* Step 2.1 – total employer contribution – check totals against spreadsheet *@
        <div class="container">
            <div class="jumbotron">
                <h3><b>Step 2.1 – total employer contribution – check totals against spreadsheet</b></h3><hr />
                <input type="hidden" asp-for="@Model.EmployerContrib">
                <input type="hidden" asp-for="@Model.PaymentMonth">
                <input type="hidden" asp-for="@Model.EmployerContribAPC">
                <input type="hidden" asp-for="@Model.EmployersTotalSS">
                <input type="hidden" asp-for="@Model.EmployersTotal">
                <input type="hidden" asp-for="@Model.payrollProviderID">

                @* Total employer contribution *@
                <div class="row">
                    <h4 class="col-9">Total employer contribution</h4>
                    <h4 class="col-1 text-end"><b>£</b></H4>
                    <h4 class="col-2 text-end">@Model.EmployerContribSS.ToString("N")</h4>
                </div>

                @* Total employer additional pension contributions (APC) reg 16 *@
                <div class="row">
                    <h4 class="col-9">Total employer additional pension contributions (APC) reg 16:  </h4>
                    <h4 class="col-1 text-end"><b>£</b></H4>
                    <h4 class="col-2 text-end">@Model.EmployerContribAPCSS.ToString("N")</h4>
                </div><hr />

                @* Employer total *@
                <div class="row">
                    <h4 class="col-9"><b>Employer total:</b></h4>
                    <h4 class="col-1 text-end"><b>£</b></H4>
                    <h4 class="col-2 text-end text-primary" id="EmployersTotalValue"><b>@Model.EmployersTotalSS.ToString("N")</b></h4>
                </div><br>
                
                @* Total employees and employer contribution *@
                <div class="row">
                    <h4 class="col-9"><b>Total employees and employer contribution</b></h4>
                    <h4 class="col-1 text-end"><b>£</b></H4>
                    <h4 class="col-2 text-end text-primary" id="EmployersEmployeeTotalValue"><b>@Model.EmployersEmployeeTotalValue().ToString("N")</b></h4>
                    <input id="EmployersEmployeeTotalValueRawFormat" type="hidden" value="@Model.EmployersEmployeeTotalValue()" />
                </div>

            </div>
        </div>

        @* Step 3 – enter any additional payments *@
        <div class="container">
            <div class="jumbotron mt-5">
                <h3><b>Step 3 – enter any additional payments</b></h3><hr />
                <div class="row additional-payment-row">
                    <h4 class="col-md-10">Deficit</h4>
                    <input asp-for="@Model.DeficitRec" id="Deficit" placeholder="£0" class="col-md-2 additional-payment-input text-end" data-toggle="tooltip" title="if your additional payment relates to a WYPF invoice, please quote the invoice reference and the customer number in the additional information box below">

                </div>
                <div class="row additional-payment-row"><h4 class="col-md-10">Previous year-end adjustments</h4>
                    <input asp-for="@Model.YearEndBalanceRec" id="YearEndBalance" placeholder="£0" class="col-md-2 additional-payment-input text-end">
                    </div>
                <div class="row additional-payment-row"><h4 class="col-md-10">Unfunded benefits</h4>
                    <input asp-for="@Model.FundedBenefitsRec" id="FundedBenefits" placeholder="£0" class="col-md-2 additional-payment-input text-end"></div>
                <div class="row additional-payment-row"><h4 class="col-md-10">Miscellaneous</h4>
                    <input asp-for="@Model.Miscellaneous_Rec" id="Miscellaneous" placeholder="£0" class="col-md-2 additional-payment-input text-end"></div>

                @* Total additional payments *@
                <div class="row mb-5">
                    <h4 class="col-9"><b>Total additional payments</b></h4>
                    <h4 class="col-1 text-end h4 fw-bold">£</H4>
                    <label class="col-2 text-end h4 fw-bold text-primary" id="DecifitTotalLblValue"> -</label>
                </div>

            </div>
        </div>

        @* Step 4 – check grand total *@
        <div class="container">
            <div class="jumbotron mt-5">

                <h3><b>Step 4 – check grand total</b></h3><hr />
                <div class="row mb-5">
                    <h4 class="col-9"><b>Total (Employees, employers and additional payments)</b></h4>
                    <h4 class="col-1 text-end fw-bold">£</H4>
                    <h4 class="col-2 text-end text-danger fw-bold" id="GrandTotalValue"><b>@Model.EmployersEmployeeTotalValue().ToString("N")</b></H4>
                </div>
            </div>
        </div>

        @* Step 5 – add any additional information *@
        <div class="container">
            <div class="jumbotron mt-5">
                <h3><b>Step 5 – add any additional information</b></h3><hr />
                <textarea asp-for="@Model.AdditionalInfo" class="form-control" rows="3" id="comment"></textarea>
            </div>
        </div>

        @* Step 6 – select payment method & date *@
        <div class="container">
            <div class="jumbotron mt-5">
                <h3><b>Step 6 – select payment method & date</b></h3><hr />
                <div class="row mb-3">
                    <div class="col-9">
                        @*value="Paid directly into WYPF's' bank account"*@
                        <input asp-for="@Model.PaidDirectlyWYPF" type="radio" class="btn-check" id="PaymentMethodOption_BankAccount" 
                                        value="Sent by BACS"
                                       data-bs-toggle="tooltip" data-bs-title="Paid directly into relevant bank account" data-bs-placement="top" checked>
                        <label class="btn btn-outline-info col-6" for="PaymentMethodOption_BankAccount">Paid directly into relevent bank account</label>

                        <input asp-for="@Model.PaidDirectlyWYPF" type="radio" class="btn-check" id="PaymentMethodOption_Cheque" 
                                        value="Sent by cheque"
                                       data-bs-toggle="tooltip" data-bs-title="Sent by cheque" data-bs-placement="top">
                        <label class="btn btn-outline-info col-3 mx-2" for="PaymentMethodOption_Cheque">Sent by cheque</label>

                    </div>

                    <div class="col-3 float-right">
                        <input asp-for="@Model.PaidByChequeDate" id="ChequeDateTBox" placeholder="dd-MM-yyyy" 
                                type="date" asp-format="{0:dd-MM-yyyy}" class="mx-3 form-control float-end text-right" />

                    </div>

                </div>
                <div class="alert alert-success" role="alert">
                    <h3>If you have verified steps 1 - 6 please click following button to Move to the next stage.</h3>
                    <input type="submit" id="SubmitNextButton" value="Next" class="btn btn-primary btn-block" />
                </div>
            </div>
        </div>
    </form>   
</div>


@section Scripts {
    <script src="~/js/home-check-totals.js"></script>
}
