@model MCPhase3.ViewModels.HomeFileUploadVM

@{
    ViewData["Title"] = "LG";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var payLocations = Model.PayLocationList;
    var payLocationSelectList = new SelectList(payLocations, "pay_location_ID", "pay_location_name");
}



<form asp-action="Create" enctype="multipart/form-data" method="post" id="UploadFileForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @*<h1 class="mainheading"> LG - Contribution advice</h1>
    <p class="mainheading">If you need to contact us phone 01274 434563 or 01274 435310</p>*@
    <div class="border shadow-lg p-4 mb-4 bg-white">
        @*<div class="container-fluid bg-3 text-center">
        <div class="container">*@
        <div class="row justify-content-center">
            <div class="col-11 col-sm-9 col-md-12 col-lg-12 col-xl-5 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">

                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active" id="account"><strong>File Upload</strong></li>
                        <li id="personal"><strong>Check Totals</strong></li>
                        <li id="personal"><strong>Data Summary</strong></li>
                        <li id="personal"><strong>Error and Warning Summary</strong></li>
                        <li id="personal"><strong>Bulk Approval</strong></li>
                        <li id="payment"><strong>Submit to Database</strong></li>
                        <li id="confirm"><strong>Finish</strong></li>
                    </ul>
                </div>
            </div>
        </div>
                
        <div class="container" id="uploadFile">
            <div class="jumbotron">

                <div class="col-md-12 mb-5">
                    <h4>List of Paylocations:</h4>
                    <select class="form-select col-md-6" asp-for="PayLocationList" asp-items="payLocationSelectList"></select>
                </div>

                <h4>Step 1 - select payroll information</h4><hr />

                <div class="col-md-12 mb-5">
                    <div>
                        <label class="col-12 mb-2">Select Payroll year:</label>
                        @{
                            foreach (var item in Model.YearList)
                            {
                                var itemId = item.years;
                                <input type="radio" class="btn-check" name="SelectedYear" autocomplete="off" id="@itemId" value="@itemId">
                                <label class="btn btn-outline-info" for="@itemId">@itemId</label>
                            }
                        }
                    </div>
                    <span asp-validation-for="SelectedYear" class="text-danger" id="SelectedYearValidationLabel">* Payroll Year is required.</span>
                </div>

                <div class="col-md-12 mb-5">
                    <div>
                        <label class="col-12 mb-3">Select Payroll month:</label>
                        @foreach (var item in Model.MonthList)
                        {
                            var itemId = item.text;
                            <input type="radio" class="btn-check" name="SelectedMonth" autocomplete="off" id="@itemId" value="@itemId">
                            <label class="btn btn-outline-info" for="@itemId">@itemId</label>
                        }

                    </div>
                    <span asp-validation-for="SelectedMonth" class="text-danger" id="SelectedMonthValidationLabel">* Payroll month is required.</span>
                </div>
                <div class="col-md-12 mb-5">
                    <div>
                        <label class="col-12">Posting for:</label>

                        <input type="radio" class="btn-check" name="SelectedPostType" id="FirstPostingRadioButton" autocomplete="off" value="1">
                        <label class="btn btn-outline-info" for="FirstPostingRadioButton">1st posting</label>
                    
                        <input type="radio" class="btn-check" name="SelectedPostType" id="SecondPostingRadioButton" autocomplete="off" value="2">
                        <label class="btn btn-outline-info" for="SecondPostingRadioButton">2nd posting for same month</label>

                        <input type="radio" class="btn-check" name="SelectedPostType" id="PrevMonthPostingRadioButton" autocomplete="off" value="3">
                        <label class="btn btn-outline-info" for="PrevMonthPostingRadioButton">File has previous month data</label>
                    </div>
                    <span asp-validation-for="SelectedPostType" class="text-danger" id="SelectedPostTypeValidationLabel">* Post type is required.</span>
                </div>

                <h4>Step 2: upload monthly contribution spreadsheet</h4>

                <p><input type="file" name="paymentFile" id="UploadFileInput" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="form-control">
                    <span asp-validation-for="PaymentFile" class="text-danger" id="CustomerFileValidationLabel">* Data file is required.</span>
                </p>

                <div class="form-group col-md-6">
                    @*<a id="ValidateFileButton" class="btn btn-primary">Validate File</a>*@
                    <small id="uploadHelp" class="form-text text-muted">Tips: Maxium file size 5MB. File type Excel only. </small>

                    <div id="FileValidationCheckResult" class="mt-3 mb-3 validation-message-div">
                        @*We will dump here the error result from the FileValidation function- Ajax call result*@
                    </div>
                </div>

                <div>
                    <input type="submit" id="UploadFileButton" value="Upload File" class="btn btn-primary" />
                </div>

                @*<textarea asp-for="myErrorMessageText" id="myErrorMessageText"></textarea>*@
            </div>

            @if (TempData["MsgM"] != null)
            {
                var alterClass = TempData["MsgM"].ToString().Contains("success") ? "alert-success" : "alert-danger";
                <div class="alert @alterClass border-2 mt-3 validation-message-div">

                    @*Html.Raw to apply Html tags inside a string*@
                    @Html.Raw(@TempData["MsgM"].ToString())
                </div>

                @if (@TempData["MsgM"].ToString() == "File is uploaded successfully")
                {
                    <div class="col-12 mt-3">
                        <a asp-action="Remad" class="btn btn-primary">Next </a> to check all totals are correct.
                    </div>
                }
            }
        </div>
    </div>
</form>


<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="~/img/wypf_mainlogoIco.png" class="rounded me-2" style="height:32px; width:32px;" alt="...">
            <strong class="me-auto">MC3 Employers Portal</strong>
            <small>few seconds ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            File contents are valid and ready to upload!
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/home-file-upload.js"></script>
}