@model MCPhase3.Models.ErrorAndWarningViewModelWithRecords
@{
    ViewData["Title"] = "Summary";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="border shadow-lg p-4 mb-4 bg-white">
    <div class="container-fluid bg-3 text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-11 col-sm-9 col-md-12 col-lg-12 col-xl-5 text-center p-0 mt-3 mb-2">
                    <div class="card px-0 pt-4 pb-0 mt-3 mb-3">

                        <!-- progressbar -->
                        <ul id="progressbar">
                            <li class="active" id="account"><strong>File Upload</strong></li>
                            <li class="active" id="personal"><strong>Check Totals</strong></li>
                            <li class="active" id="personal"><strong>Data Processing</strong></li>
                            <li id="personal"><strong>Error and Warning Summary</strong></li>
                            <li id="personal"><strong>Bulk Approval</strong></li>
                            <li id="payment"><strong>Submit to Database</strong></li>
                            <li id="confirm"><strong>Finish</strong></li>
                        </ul>


                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="border shadow-lg p-4 mb-4 bg-white">*@
        <!--Folloing container will show total records inserted into Database and number of records in file-->
        <div class="container" id="myDiv1">
            <div class="jumbotron">
                @if (TempData["MsgError"] == null)
                {
                    <div class="table-bordered">
                        <div class="alert alert-success">
                            <h3>@ViewBag.empName</h3><br />
                            <h3>File Loaded to WYPF Database successfully</h3><br />
                            <p style="font-size:small;">Now records ready for matching.</p>
                            @Html.Raw(@TempData["showOnlyTotals"].ToString())
                        </div>
                    </div>
                }
                else
                {
                    <div class="table-bordered">
                        <div class="alert alert-danger">
                            @Html.Raw(@TempData["MsgError"].ToString())
                        </div>
                    </div>
                }
                <p style="font-size:small;">Please click to see the Auto Match records with WYPF members records.</p><br />

                <button class="btn btn-primary" onclick="myFunction()">Next</button>
            </div>
        </div>



    <div class="container" id="myDiv2" style="display:none;">
        <div class="jumbotron">
            <h3>Data Summary</h3>
            <p style="font-size:small;">Page displayed after financial totals have been accepted</p><br />
            @if (TempData["MsgError"] == null)
            {
                <div class="table-bordered">
                    <div class="alert alert-primary">
                        <h3>@ViewBag.empName</h3><br />
                        <h3>File Loaded and Checked</h3><br />
                        @Html.Raw(@TempData["msgExtra"].ToString())
                    </div>
                    <div class="alert alert-info">
                        <h3>Error and Warnings</h3>
                        <p style="font-size:small;">Shows all data alerts and their count.   User may return or show list of all records with specific alert.</p><br />
                    </div>
                    @*@Html.ActionLink("View errors and warnings summary", "Index", "SummaryNManualM", new { remittanceID = @Model.remittanceID })*@
                    <a href="/SummaryNManualM/index?remittanceID=@Model.remittanceID" class="btn btn-primary mr-2">View errors and warnings summary</a>
                    
                    @*@Html.ActionLink("View and amend records with errors and warnings", "WarningsListforBulkApproval", "SummaryNManualM", @Model)<br />*@
                    @*@Html.ActionLink("Loose match records", "LooseMatchRecords", "Home", new { remID = @Model.remittanceID })<br />*@
                    @*<b> @Html.ActionLink("Exit and return later", "Index", "Admin", @Model)</b><br />*@

                    <a href="/Admin/index?remittanceID=@Model.remittanceID" class="btn btn-danger">Exit and return later</a>
                    @*@Html.ActionLink("Exit and return later", "Index", "Admin", @Model)*@

                    @*@Html.ActionLink("Submit file to WYPF for posting", "AutoMatching", "Home", @Model)<br />*@
                    @* <a asp-controller="Home" asp-action="AutoMatching" asp-all-route-data="myObject" class="btn btn-primary">click here</a> <b>to Start Next Steps.</b><br><br>               *@

                </div>
            }

            else
            {
                <div class="table-bordered">
                    <div class="alert alert-danger">
                        @Html.Raw(@TempData["MsgError"].ToString())
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<script>  
    function myFunction() {
        var x = document.getElementById("myDiv1");
        var y = document.getElementById("myDiv2");
        if (y.style.display === "none") {
            y.style.display = "block";
            x.style.display = "none";
        } 
    }  

</script>