@using System.Text;
@model IEnumerable<MCPhase3.Models.ErrorAndWarningViewModelWithRecords>
@{
    ViewData["Title"] = "Bulk data approval";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var totalAlerts = Model.Where(a => a.CLEARED_FG == "N").Count();
    bool showAcknowledgeAllButton = Model.Any(m => m.CLEARED_FG != "Y" && m.ALERT_CLASS == "W");

}
<div class="border shadow-lg p-4 mb-4 bg-white">
    <div class="container-fluid bg-3 text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-11 col-sm-9 col-md-12 col-lg-12 col-xl-5 text-center p-0 mt-3 mb-2">
                    <div class="card px-0 pt-4 pb-0 mt-3 mb-3">

                        <!-- progressbar -->
                        <ul id="progressbar">
                            <li class="active" id="account"><strong>File Upload</strong></li>
                            <li class="active" id="personal"><strong>Check Totals</strong></li>
                            <li class="active" id="personal"><strong>Data Processing</strong></li>
                            <li class="active" id="personal"><strong>Error and Warning Summary</strong></li>
                            <li class="active" id="personal"><strong>Bulk Approval</strong></li>
                            <li id="payment"><strong>Submit to Database</strong></li>
                            <li id="confirm"><strong>Finish</strong></li>
                        </ul>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <h3>Warnings List</h3>
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <td>@ViewBag.alertClass</td>
                        <td><b>@ViewBag.status</b></td>
                        <td class="text-center h3"><span id="TotalErrorCountSpan" class="badge bg-danger rounded-pill">@totalAlerts</span></td>
                        @*<td class="text-center h3 text-danger">@ViewBag.total</td>*@
                    </tr>
                </thead>
            </table>
            @*<p style="font-size:small;">The user may approve all records, a selection of records or return to the previous page.</p><br />*@
            <div class="table-bordered">
                <h4> Errors and Warnings Processing for payroll provider :<b> @ViewBag.empName </b></h4>
                @*<p style="font-size:small;">No persons have been found within our database that match the incoming records.   Once approved, person and folder records will be created, assuming no further errors are found.</p>*@
                <p style="font-size:small;">
                    Select the rows below for which you wish to acknowledge this warning.   All rows may be chosen by clicking “Select All”.
                    If you are happy for WYPF to process these records chick “Acknowledge Warnings” below the table.
                    If other errors or warnings are present on a record, these will need to be cleared before the record may be posted.
                    Individual records may be viewed by clicking view.
                </p>

                @*This is simply a form, will never get posted.. sends data via url... *@
                <form asp-action="WarningApprovalNew" id="myForm" enctype="multipart/form-data" method="post">
                    <table id="WarningListTable" class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th>Pay Location</th>
                                <th>First Name</th>
                                <th>SurName</th>
                                <th>DOB</th>
                                <th>Ni Number</th>
                                <th>Date Start</th>
                                <th>Job Title</th>
                                @*<th>Alert Desc</th>*@
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {                                
                                int i = 0;
                                bool isCleared = (item.ALERT_COUNT.Equals("0.0") || item.CLEARED_FG.Equals("Y"));
                                var rowStyle = isCleared ? "table-success" : "";

                                <tr class="@rowStyle">                             
                                    <td>@item.PAYLOCATIONREF</td>
                                    <td>@item.FORENAMES</td>
                                    <td>@item.SURNAME</td>
                                    <td>@item.DOB?.ToShortDateString()</td>
                                    <td>@item.NINUMBER</td>
                                    <td>@item.DATEJOINEDSCHEME?.ToShortDateString()</td>
                                    <td>@item.JOBTITLE</td>
                                    @*<td>@item.ALERT_DESC</td>*@
                                    <td class="error-status-td">
                                        @{
                                            var actionName = item.ALERT_CLEARING_METHOD.Equals("LOOSE_MATCH_PAGE") ? "NewMatchingCritera" : "UpdateSingleRecord";
                                        }
                                        @if (isCleared)
                                        {
                                            @*<span class="text-success">Cleared</span>*@

                                            @if (item.ALERT_CLEARING_METHOD.Equals("LOOSE_MATCH_PAGE"))
                                            {
                                                <a class="reset-record-button btn btn-sm btn-outline-danger" data-id="@item.EncryptedRowRecordID"
                                                   data-bs-toggle="tooltip" data-bs-title="Click to reset the fixes done recently" data-bs-placement="top">
                                                    <i class="fas fa-redo-alt"></i> Reset
                                                </a>
                                                @* a copy of the 'view' button- if the user resets the fixes- allow to see the 'Errors' page *@
                                                <a asp-action="@actionName" asp-route-Id="@item.EncryptedRowRecordID" class="d-none view-button btn btn-outline-primary">View</a>
                                            }else{
                                                <i class="fas fa-check h2 text-success ml-2"></i>
                                            }
                                            
                                        }
                                        else if (!string.IsNullOrEmpty(@item.ALERT_CLEARING_METHOD) && !item.ALERT_COUNT.Equals("0.0") && i == 0)
                                        {
                                            @*alertIdList.Append(item.EncryptedAlertid + ",");*@
                                                    <a asp-action="@actionName" asp-route-Id="@item.EncryptedRowRecordID" class="btn btn-outline-primary">View</a>
                                        }
                                        else
                                        {
                                            <a href="" class="btn btn-outline-secondary disabled" disabled><i class="fas fa-marker fa-lg"></i> View</a>
                                        }

                                    </td>
                                    
                                    @{
                                        <input type="hidden" asp-for="@item.MC_ALERT_ID" id="alertID" />
                                        <input type="hidden" asp-for="@item.DATAROWID_RECD" />
                                    }

                                </tr>

                            }
                        </tbody>
                    </table>


                    <div class="row">
                        <div class="col-6">
                            @if (showAcknowledgeAllButton)
                            {
                                @*string idList = alertIdList.ToString();*@
                                @*<a id="acknowledgeButton" href="~/SummaryNManualM/WarningApproval?idList=@idList" class="btn btn-primary btn-lg"> Acknowledge All</a>*@
                                <a id="acknowledgeButton" href="~/SummaryNManualM/AcknowledgeAll" class="btn btn-primary btn-lg"> Acknowledge All</a>
                            }
                        </div>

                        <div class="col-6">
                            <a asp-action="GoToSummaryPage" class="btn btn-primary btn-lg"> Exit</a>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>


@section scripts{

    <script src="~/js/warning-list-bulk-approval.js"></script>

}

